<!-- <div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center"> -->
<div class="container">
    <!-- <div *ngIf="!user" class=""> -->
    <!-- <h6 class="card-header">Login</h6> -->
    <!-- <div class="card-block"> -->
      <!-- <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p> -->
    <!-- </div> -->
    <div class="items">

      <!-- <asl-google-signin-button class="mx-5"></asl-google-signin-button>

      <button
        class="btn btn-social-icon btn-facebook mx-1"
        (click)="signInWithFB()"
      >
        <span class="fab fa-facebook"></span>
      </button>
      <button
        class="btn btn-social-icon btn-microsoft mx-1"
        (click)="signInWithMicrosoft()"
      >
        <span class="fab fa-microsoft"></span>
      </button> -->
      <!-- <button class="microsoft social-item"> -->
      <asl-google-signin-button></asl-google-signin-button>

      <!-- <div id="g_id_onload"
     data-client_id="222456991365-f3ltlkb9utlauipdaq0shode452uh39i.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="http://localhost:4200"
     data-nonce=""
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->
    <!-- </button> -->
      <button
      class="microsoft social-item"
      (click)="signInWithMicrosoft()"
      >
      <span class="fab fa-microsoft"></span>
    </button>
    <button
    class="facebook social-item"
    (click)="signInWithFB()"
    >
    <span class="fab fa-facebook"></span>
  </button>
    </div>

    
  <!-- </div> -->
  <div *ngIf="user" class="card text-center">

    <!-- <home-comp></home-comp> -->

    <!-- <h6 class="card-header">Social Login Demo</h6>
    <div class="card-block"></div>
   
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">Logged in with {{ user.provider }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div
      class="card-block"
      *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID"
    >
      <button class="btn" (click)="refreshGoogleToken()">
        Refresh google token
      </button>
    </div> -->
  </div>
</div>
